/**
Import des polices CSS
 */
@font-face {
    font-family: 'Roboto-Black';
    src: url("./../img/fonts/Roboto-black.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-Black-italic';
    src: url("./../img/fonts/Roboto-BlackItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url("./../img/fonts/Roboto-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-bold-italic';
    src: url("./../img/fonts/Roboto-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-italic';
    src: url("./../img/fonts/Roboto-Italic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-light';
    src: url("./../img/fonts/Roboto-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-light-italic';
    src: url("./../img/fonts/Roboto-LightItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-medium';
    src: url("./../img/fonts/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-medium-italic';
    src: url("./../img/fonts/Roboto-MediumItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url("./../img/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-thin';
    src: url("./../img/fonts/Roboto-Thin.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-thin-italic';
    src: url("./../img/fonts/Roboto-ThinItalic.ttf") format('truetype');
}
